body{
				font-family: Helvetica;
				background-color:#f2f2f2;
			}

			a{
				color: #406ac0;
			}

			a:hover{
				opacity: 0.8;
			}

			.page{
				display: block;
				width:900px;
				min-height: 350px;
				background-color: #fff;
				margin: 50px auto 20px auto;
				border: 1px solid #ddd;
			}

			h1, h2{
				margin: 0px;
				padding: 10px 0px
			}

			h3 {
			    margin: 0px 0px 10px 0px;
			    font-weight: 100;
			    text-transform: uppercase;
			}

			img {
			    max-width: 590px;
			    margin: 4px auto;
			    border: 1px solid #eee;
			    display: block;
			}

			header h1 {
			    background-color: #bcdbe7;
			    font-weight: 100;
			    padding: 20px;
			}

			h1 .version{
				font-size: 14px;
				font-weight: bold
			}

			h2.title {
			    background-color: aliceblue;
			    border-bottom: 1px solid #ddd;
			    padding: 10px 20px;
			    font-size: 18px;
			}

			content {
			    padding: 20px;
			    display: block;
			}

			ul {
			    margin: 5px 0px 20px 0px;
			}

			label{
				font-weight: bold;
				color: #5d8aa2
			}

			th {
			    background-color: #d8e9ec;
			    padding: 5px 10px;
			}
			table {
			    border-collapse: collapse;
			    margin: 8px 0;
			}

			tr, td {
			    padding: 6px;
			}

			td ul {
			    margin: 0;
			    padding: 10px;
			    margin-left: 10px;
			}

			td li{
				white-space: nowrap;
			}

			td li .small{
				text-overflow: ellipsis;
				overflow: hidden;
				width: 75px;
				display: inline-block;
				position: relative;
				top: 3px;
			}

			.docs {
			    padding-left: 250px;
			}

			font.small {
			    font-size: 12px;
			}

			.nav, .nav ul {
				margin: 0px;
			}

			.nav {
			    width: 190px;
			    float: left;
			    padding: 0px 20px;
			    border-right: 1px solid #ddd;
			    margin-right: 15px;
			    overflow: auto;
				height: calc(100% - 80px);
			}

			.doc:first-child{
				padding-top: 0px
			}

			.doc {
				padding-top: 20px;
			    margin-bottom: 70px;
			    text-align: justify;
				margin-right: 20px;
			}

			.doc:last-child{
				margin-bottom: 0px !important
			}
			.doc ul{
    			margin: -9px 0px 0px 0px;
			}
			.img_pie {
			    text-align: center;
			    display: block;
			    font-size: 12px;
			    margin-bottom: 15px;
			}

			.nav > li{
				margin-bottom: 5px
			}

			code {
			    background-color: #091d42;
			    display: block;
			    padding: 10px;
			    border: 1px solid #15214d;
			    color: #17b4f2;
			}

			code tab{
				padding-left: 10px;
				display: inline-block;
			}

			code comment{
				font-size: 12px;
				color: #ccc
			}